asgiref
build
certifi
chardet
click
defusedxml
django
django-allauth
django-crispy-forms
django-environ
django-rest-framework
djangorestframework-simplejwt
django-cors-headers
shortuuid
gevent
greenlet
gunicorn
idna
oauthlib
packaging
pep517
pillow
pip-tools
psycopg2
pyparsing
python3-openid
pytz
requests
requests-oauthlib
sqlparse
stripe
tomli
urllib3
wheel
zope-event
zope-interface
python-dotenv
