asgiref
django
django-allauth
django-crispy-forms
django-environ
gevent
greenlet
gunicorn
pillow
psycopg2
python3-openid
pytz
requests
requests-oauthlib
sqlparse
stripe
build
certifi
click
defusedxml
pip-tools
pyparsing
tomli
urllib3
wheel
setuptools
python-dotenv

